@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Prompt';
  src: url("../fonts/Prompt-Regular.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Prompt';
}

h1 {
  color: red;
}

.app-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 0 10%;
}

.places {
  width: 100%;
  display: flex;

  .input {
    margin-right: 16px;
  }
}

.button {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  border: none;
  background-color: #0028db;
  cursor: pointer;

  &:hover {
    background-color: #002fff;
  }

  &:active {
    box-shadow: 0 0 0 2px #002fff inset, 0 0 0 4px #000 inset;
  }
}

.custom-select {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  width: 200px;
  flex-direction: column;

  &__enter {
    padding: 8px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c4c4c4;

    &:focus {
      border-color: #0091ff;
      box-shadow: 0 0 0 1px #0091ff;
    }
  }
}
